@page "/"

<PageTitle>Home</PageTitle>

<h1>Volunteering Service Portal</h1>

<p class="welcome-msg">Welcome to ServeHub!<br />Your N<span class="numberone">O</span> 1 volunteering platform.</p>

<p>Explore various service opportunities, track your volunteering services, and make a positive impact in your community!</p>

 
<a class="explore-button" href="counter">Explore Service Opportunities Now</a>
