.welcome-name {
    font-weight: bold;
}

.dashboard-top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.create-service-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.create-service-btn:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 4px;
    cursor: pointer;
}
.edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 4px;
    cursor: pointer;
}
.edit-btn:hover {
    background-color: #0069d9;
}
.delete-btn:hover {
    background-color: #c82333;
}

.opportunities-table {
    width: 100%;
    border-collapse: collapse;
}
.dashboard-table-div {
    overflow-x: auto;
    max-width: 100%;
    border: 1px solid #ccc;
}
.opportunities-table th,
.opportunities-table td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
}
.opportunities-table th {
    background-color: #f8f9fa;
    text-align: left;
}
.opportunities-table td {
    vertical-align: top;
}
.opportunities-table .text-end {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.opportunities-table .text-endd {
    vertical-align: middle;
}