
::deep .edit-opportunity-form {
    border: 2px solid #230b30;
    border-radius: 8px;
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
    background-color: #230b30;
    color: white;
}
.action-button-container {
    display: flex;
    justify-content: center;
    gap: 4.5rem;
    margin-top: 1rem;
}
.create-form-create--btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 4px;
    cursor: pointer;
}
.create-form-create--btn:hover {
    background-color: #218838;
}
.create-form-delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 4px;
    cursor: pointer;
}
.create-form-delete-btn:hover {
    background-color: #c82333;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
::deep .form-control {
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.mb-3 {
    margin-bottom: 1rem;
}